<script>
var curmid='{MINER_MON_IDX}'
function inerton(id) {
	if (id>=0) {
		if (id!=curmid) {
			document.write('<a href="cfg?mid='+id+'&sid='+sid+'">Turn ON</a>')
		} else {
			document.write('<a href="cfg?mid=off&sid='+sid+'">Turn OFF</a>')
		}
	}
}
document.addEventListener('DOMContentLoaded', function() {
	if (curmid>=0) {
		document.getElementById('midrow'+curmid).className = "own"
	}
})
</script>
Data from last <b>{MINING_HOURS}</b> hours.
 The oldest block starting at <b>{FIRST_BLOCK_TIME}</b><br>
Total number of blocks was <b>{BLOCKS_COUNT}</b>,
 making average of <b>{AVG_BLOCKS_PER_HOUR}</b> per hour,
 with the size of <b>{AVG_BLOCKSIZE}</b><br>
Network's rate of <b>{AVG_HASHDATE}</b>,
at average difficulty <b>{AVG_DIFFICULTY}</b>,
which changes in <b>{DIFF_CHANGE_IN}</b> blocks<br>
<br>
<table class="bord" width="100%">
	<tr>
		<th width="120">Miner
		<th width="80" align="right">Blocks
		<th width="80" align="right">Net Share
		<th width="100" align="right">Hashrate
		<th width="100" align="right">Avg blk len
		<th width="80" align="right">Monitor
	</tr>
    <!--MINER_ROW-->
</table>
