<script>
var curmid='{MINER_MON_IDX}'
function inerton(id) {
	if (id>=0) {
		if (id!=curmid) {
			document.write('<a href="cfg?mid='+id+'&sid='+sid+'">ON</a>')
		} else {
			document.write('<a href="cfg?mid=off&sid='+sid+'">OFF</a>')
		}
	}
}
document.addEventListener('DOMContentLoaded', function() {
	if (curmid>=0) {
		document.getElementById('midrow'+curmid).className = "own"
	}
})
</script>
<table><tr>
<td valign="top">

Data from last <b>{MINING_HOURS}</b> hours.
 The oldest block starting at <b>{FIRST_BLOCK_TIME}</b><br>
Total number of blocks was <b>{BLOCKS_COUNT}</b>,
 making average of <b>{AVG_BLOCKS_PER_HOUR}</b> per hour,
 with the size of <b>{AVG_BLOCKSIZE}</b><br>
Network's rate of <b>{AVG_HASHDATE}</b>,
at average difficulty <b>{AVG_DIFFICULTY}</b>,
which changes in <b>{DIFF_CHANGE_IN}</b> blocks<br>

Total mining fees amount to <b><!--TOTAL_MINING_FEES--></b> BTC
with the average of <b><!--AVERAGE_FEE_PER_BYTE--></b> Satoshis per byte.<br>

<table class="bord" width="100%">
	<tr>
		<th width="120">Miner
		<th width="40" align="right">Blks
		<th width="20" align="right">SW
		<th width="20" align="right">BU
		<th width="80" align="right">Net Share
		<th width="100" align="right">Hashrate
		<th width="100" align="right" title="Average Block Length">ABL
		<th width="100" align="right">Fees BTC
		<th width="60" align="right" title="Satoshis per byte">SPB
		<th width="80" align="right">Mon
	</tr>
    <!--MINER_ROW-->
</table>

</td>
<td valign="top">

<style>
td.bl_ver {
	font-family: monospace;
	text-align:right;
}
td.bl_cnt {
	text-align:right;
}
td.bl_perc {
	text-align:right;
}
</style>
<center>Last 1000 blocks:</center>
<table class="bord" id="blockver_tab_a" align="right">
<tr><th>Version<th>Count<th>Share
</table>

<center>Past period:</center>
<table class="bord" id="blockver_tab_b" align="right">
<tr><th>Version<th>Count<th>Share
</table>

<center>Current period:</center>
<table class="bord" id="blockver_tab_c" align="right">
<tr><th>Version<th>Count<th>Share
</table>

</td>
</tr>
</table>

<script>
function do_table(blockver_tab, block_versions, max_block_number, min_block_number) {
	var key, st = new Array()
	var counted = 0;
	for (var i=0; i<block_versions.length; i++) {
		if (block_versions[i][0] > max_block_number) continue;
		if (block_versions[i][0] < min_block_number) continue;
		counted++;
		key = block_versions[i][1]+""
		if (isNaN(st[key])) {
			st[key] = 1
		} else {
			st[key]++
		}
	}
	var sorted = new Array()
	for (key in st) {
		sorted.push({ver:parseInt(key), cnt:st[key]})
	}

	sorted.sort(function(a,b){
		if (a.cnt>b.cnt) return -1;
		else if (a.cnt==b.cnt) return 0;
		else return 1;
	})

	for (var i=0; i<sorted.length; i++) {
		var row = blockver_tab.insertRow(-1)
		var c = row.insertCell(-1)
		c.className = 'bl_ver'
		c.innerText = leftpad(sorted[i].ver.toString(16),  '0',  8)

		c = row.insertCell(-1)
		c.className = 'bl_cnt'
		c.innerText = sorted[i].cnt

		c = row.insertCell(-1)
		c.className = 'bl_perc'
		c.innerText = Math.round(sorted[i].cnt*100/counted) + '%'
	}
}

function blocks_version_stats() {
	function onc(c,id) {
		c.onclick = function() {hlminer(id)}
	}

	var aj = ajax()
	aj.onerror=function() {
		setTimeout(refreshblocks, 1000)
	}
	aj.onload=function() {
		try {
			var block_versions = JSON.parse(aj.responseText)
			var top_block_height = block_versions[0][0]
			var last_epoch_change = Math.floor(top_block_height/2016) * 2016

			do_table(blockver_tab_a, block_versions, top_block_height, top_block_height-999)
			do_table(blockver_tab_b, block_versions, last_epoch_change-1, last_epoch_change-2016)
			do_table(blockver_tab_c, block_versions, top_block_height, last_epoch_change)

		} catch (e) {
			blockver_tab.style.display='none'
		}
	}
	aj.open("GET","blkver.json",true)
	aj.send(null)
}

blocks_version_stats()

//Block versions: <!--BLOCK_VERSIONS--><br>

// reaload page on new block
var _lblo = 0
blno.addEventListener("lastblock", function(e) {
	if (_lblo==0) {
		_lblo = e.block.Height
	} else if (e.block.Height!=_lblo) {
		location.reload()
	}
})
</script>
