<html><head><title>Gocoin {TESTNET}{VERSION}</title>
<script type="text/javascript" src="webui/gocoin.js"></script>
<link rel="stylesheet" href="webui/gocoin.css" type="text/css">
<script>
var sid='{SESSION_ID}'
var doc_title = document.title
function quickswitchwallet() {
	var sel = document.getElementById('qswal')
	document.location='?sid='+sid+'&qwalsel='+sel.options[sel.selectedIndex].value
}
</script>
</head>
<body>
<table align="center" width="1020" cellpadding="0" cellspacing="0"><tr><td>
	<table width="100%"><tr>
		<td>{MENU_LEFT}</td>
		<td align="center">Switch wallet:
		<select id="qswal" onchange="quickswitchwallet()">
		<!--QUICK_WALLET_SELECT-->
        </select>
        <img src="webui/refresh.png" class="hand" onclick="quickswitchwallet()" title="Reload current wallet">
		</td>
		<td align="center"><a href="javascript:pushtx()">LoadTx</a></td>
		<td align="right">
		<b id="blno"></b> |
		{MENU_RIGHT} |
		<a href="{HELPURL}">Help</a></td>
	</tr></table>
<hr>
<script>
var time_now
function refreshblock() {
	var aj = ajax()
	aj.onerror=function() {
		blno.innerText = "XXX"
		setTimeout(refreshblock, 10000)
	}
	aj.onload=function() {
		try {
			var stat = JSON.parse(aj.responseText)
			var e = document.createEvent("Event")
			e.initEvent("lastblock", false, false)
			e.block = stat
			time_now = stat.Time_now
			blno.dispatchEvent(e)

			if (blno.innerText != stat.Height) {
				var difftxt = "Difficulty changing in " + (2016-(stat.Height%2016)) + " blocks"
				blno.innerText = stat.Height
				blno.title = difftxt
				document.title = doc_title + ' @ ' + stat.Height
			}
		} catch(e) {
			blno.title = e
			blno.innerText = "???"
			//console.log()
		}
		setTimeout(refreshblock, 1000)
	}
	aj.open("GET","status.json",true)
	aj.send(null)
}
refreshblock()

</script>