<html><head><title>Gocoin {TESTNET}{VERSION}</title>
<script type="text/javascript" src="webui/gocoin.js"></script>
<link rel="stylesheet" href="webui/gocoin.css" type="text/css">
<script>
var sid='{SESSION_ID}'
var doc_title = document.title
function quickswitchwallet() {
	var sel = document.getElementById('qswal')
	document.location='?sid='+sid+'&qwalsel='+sel.options[sel.selectedIndex].value
}
</script>
</head>
<body>
<table align="center" width="1020" cellpadding="0" cellspacing="0"><tr><td>
	<table width="100%"><tr>
		<td>{MENU_LEFT}</td>
		<td align="center">Switch wallet:
		<select id="qswal" onchange="quickswitchwallet()">
		<!--QUICK_WALLET_SELECT-->
        </select>
        <img src="webui/refresh.png" class="hand" onclick="quickswitchwallet()" title="Reload current wallet">
		</td>
		<td align="center"><a href="javascript:pushtx()">LoadTx</a></td>
		<td align="right">
		<b id="blno">...</b> |
		{MENU_RIGHT} |
		<a href="{HELPURL}">Help</a></td>
	</tr></table>
<hr>
<script>
function refreshblock() {
	var aj = ajax()
	aj.onreadystatechange=function() {
		if(aj.readyState==4) {
			var cur_height = parseInt(xval(aj.responseXML, "height"))
			if (isNaN(cur_height)) {
				blno.title = ''
				blno.innerText = "???"
			} else {
				blno.title = 'Diff ' + (parseFloat(xval(aj.responseXML, "diff"))/1e6).toFixed(0) + "M" +
					" changing in " + (2016-(cur_height%2016)) + " blocks"
				blno.innerText = cur_height
				document.title = doc_title + ' @ ' + cur_height
			}
		}
	}
	aj.open("GET","status.xml",true)
	aj.send(null)
}
refreshblock()
setInterval(refreshblock, 10000)

</script>