<tr class="hov">
<input type="hidden" name="txid{ROW_NUMBER}" value="{TX_ID}">
<input type="hidden" name="txvout{ROW_NUMBER}" value="{TX_VOUT}">
	<td align="right">{ROW_NUMBER}</td>
	<td align="right">{MINED_IN}</td>
	<td class="mono" style="font-size:80%">{TX_ID} - {TX_VOUT}</td>
	<td align="right" class="mono bold">{BTC_AMOUNT}</td>
	<td>{WALLET_FILE}</td>
	<td class="bold hand" onclick="selectadr({ROW_NUMBER})">{BTC_ADDR}</td>
	<td class="hand" onclick="selectadr({ROW_NUMBER})">{ADDR_LABEL}</td>
	<td align="center"><input id="txout{ROW_NUMBER}" name="txout{ROW_NUMBER}" type="checkbox" onchange="recalc_inputs()"></td>
</tr>
<script>
values[{ROW_NUMBER}] = {OUT_VALUE}
</script>
