<style>
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 15%;
	width: 70%;
	height: 300px;
	padding-left: 8px;
	padding-right: 8px;
	border: 5px solid #d0d0d0;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
</style>
<div id="light" class="white_content">
<table width="100%"><tr>
<td><h3><b class="mono" id="disp_txid"></b></h3>
<td align="right"><a href="javascript:closepopup()">X</a>
</table>
<pre id="rawdiv" style="background-color:white"></pre>
</div><div id="fade" class="black_overlay"></div>
<h2>Memory Pool:</h2>
<table width="100%"><tr>
<td valign="top" width="*">
	<table>
		<tr><td>Accepted transactions:<td><input type="button" id="but2s" onclick="show_txs2s('')">
		<b>{T2S_SIZE}</b> [<a href="javascript:show_txs2s('?ownonly=1')">own</a>]
		<tr><td>UTXOs spent in memory:<td><b id="outspent"></b> (avg. <b id="avgoutspertx"></b> / tx)
		<tr><td>Rejected transactions:<td><input type="button" id="butre" value=" {TRE_CNT} " onclick="show_txsre()">
		<b>{TRE_SIZE}</b>
		<tr><td>Transactions waiting for inputs:<td><input type="button" id="butw4i" value=" {AWAITING_INPUTS} " onclick="show_txw4i()">
		<tr><td>Transactions being processed:<td><b>{PTR1_CNT}</b> / <b>{PTR2_CNT}</b>
	</table>
<td valign="top" width="*">
	<table>
		<col width="150">
		<col width="100">
		<col width="150">
		<tr>
			<td>Memory pool:
			<td><b><!--MEM_POOL_ENABLED--></b>
			<td>[<a href="javascript:config('txponoff')">Switch ON/OFF</a>]
		<tr>
			<td>Relay transactions:
			<td><b><!--TX_ROUTE_ENABLED--></b>
			<td>[<a href="javascript:config('txronoff')">Switch ON/OFF</a>]
		<tr>
			<td colspan="3">
				<hr>
				<h2>Upload Transaction File:</h2>
				<form id="the-form" method="post" enctype="multipart/form-data">
					<input name="txfile" type="file">
					<input type="submit" value="Upload" />
				</form>
				... or use
				<a href="https://blockchain.info/pushtx" target="_blank">blockchain.info</a>
				| <a href="https://coinb.in/send-raw-transaction.html" target="_blank">coinb.in</a>
				| <a href="http://eligius.st/~wizkid057/newstats/pushtxn.php" target="_blank">eligius.st</a>
				to push it.
	</table>
</table>

<!--TX_LOAD-->
<table class="txs bord" id="txs2s" style="display:none" width="100%">
	<tr>
		<th width="20" align="right">#
		<th>Transaction ID
		<th onclick="sorttab('txs2s', 2)" style="cursor:pointer" width="60" align="right">Maturity
		<th onclick="sorttab('txs2s', 3)" style="cursor:pointer" width="60" align="right">Size
		<th onclick="sorttab('txs2s', 4)" style="cursor:pointer" width="40" align="right">Sent
		<th onclick="sorttab('txs2s', 5)" style="cursor:pointer" width="90" align="right">Total BTC
		<th onclick="sorttab('txs2s', 6)" style="cursor:pointer" width="80" align="right">Fee BTC
		<th onclick="sorttab('txs2s', 7)" style="cursor:pointer" width="60" align="right">Fee/Byte
		<th width="60" align="right">Extras
	</tr>
</table>
<table class="txs bord" id="txsre" style="display:none" width="100%">
	<tr>
		<th width="20" align="right">#
		<th>Transaction ID
		<th onclick="sorttab('txsre', 2)" style="cursor:pointer" width="60" align="right">Maturity
		<th onclick="sorttab('txsre', 3)" style="cursor:pointer" width="60" align="right">Size
		<th width="100" align="right">Reason rejected
</table>
<table class="txs bord" id="txw4i" style="display:none" width="100%">
	<tr>
		<th width="20" align="right">#
		<th>Waiting for
		<th>Pending Tx
		<th onclick="sorttab('txw4i', 3)" style="cursor:pointer" width="60" align="right">Maturity
</table>

<script>

function sorter(a,b) {
	return a.val<b.val
}

function sorttab(tid,col) {
	var tbl = document.getElementById(tid).tBodies[0]
	var store = []
	for(var i=0, len=tbl.rows.length; i<len; i++) {
		var row = tbl.rows[i];
		var sortnr = parseFloat(row.cells[col].textContent || row.cells[col].innerText);
		if (!isNaN(sortnr)) store.push([sortnr, row]);
	}
	store.sort(function(x,y) {
		return y[0] - x[0];
	});
	for(var i=0, len=store.length; i<len; i++) {
		tbl.appendChild(store[i][1]);
	}
	for (var i=0; i<tbl.rows.length; i++) {
		tbl.rows[i].cells[0].innerHTML = i.toString()
	}
	store = null
}

function get_maturity(t) {
	return ((((new Date()).getTime()/1000) - parseInt(t))/60).toFixed(0) + '&nbsp;min'
}

function val2reason(r) {
	switch (parseInt(r)) {
		case 1: return "RELAY_OFF"
		case 101: return "TOO_BIG"
		case 102: return "FORMAT"
		case 103: return "LEN_MISMATCH"
		case 104: return "EMPTY_INPUT"
		case 201: return "DOUBLE_SPEND"
		case 202: return "NO_TXOUT"
		case 203: return "DUST"
		case 204: return "OVERSPEND"
		case 205: return "LOW_FEE"
		case 206: return "SCRIPT_FAIL"
		case 207: return "BAD_INPUT"
		case 208: return "NOT_MINED"
	}
	return r
}


function send1tx_click(id) {
	if (confirm("Send TX "+id+" to one random peer")) {
		show_txs2s('?sendone='+id+'&ownonly=1&sid='+sid)
	}
}

function sendtx_click(id) {
	if (confirm("Broadcast TX "+id)) {
		show_txs2s('?send='+id+'&ownonly=1&sid='+sid)
	}
}

function deltx_click(id) {
	if (confirm("Delete TX "+id)) {
		show_txs2s('?del='+id+'&ownonly=1&sid='+sid)
	}
	txrawdata.innerText = ''
}

var prvpos

function decode_tx() {
	var txid = this.id
	var aj = ajax()
	aj.onreadystatechange=function() {
		if(xmlHttp.readyState==4) {
			var sta = xval(aj.responseXML,  "status")
			if (sta!="OK") {
				alert(sta)
				return
			}

			disp_txid.innerHTML = xval(aj.responseXML,  "id")

			var tin=0, tout=0, s = ''

			var is = aj.responseXML.getElementsByTagName('input')
			for (var i=0; i<is.length; i++) {
				s += (i+1) + ") "
				var st = xval(is[i], "status")
				if (st=="OK") {
					var val = parseInt(xval(is[i], "value"))
					tin += val
					s += (parseFloat(val)/1e8).toFixed(8)
					s += " BTC <= " + xval(is[i], "addr")
				} else {
					s += st
				}
				var bl = xval(is[i], "block")
				if (bl==0) {
					s += " (unconfirmed yet)"
				} else {
					s += " (confirmed in #"+xval(is[i], "block")+")"
				}
				s += "\n"
			}
			s += "Total input: " + (parseFloat(tin)/1e8).toFixed(8) + " BTC\n"
			s += "\n"

			is = aj.responseXML.getElementsByTagName('output')
			for (var i=0; i<is.length; i++) {
				s += (i+1) + ") "
				var val = parseInt(xval(is[i], "value"))
				tout += val
				s += (parseFloat(val)/1e8).toFixed(8)
				s += " BTC => " + xval(is[i], "addr")
				s += "\n"
			}
			s += "Total output: " + (parseFloat(tout)/1e8).toFixed(8) + " BTC\n"
			s += "\n"
			s += "Fee: " + (parseFloat(tin-tout)/1e8).toFixed(8) + " BTC\n"

			rawdiv.innerHTML = s
			prvpos = document.body.scrollTop
			window.scrollTo(0,0)

			// TODO: make it to happen only once
			fade.addEventListener('click', closepopup)
			fade.style.cursor = 'pointer'
			fade.title = 'Click here to close the popup'

			light.style.display='block'
			fade.style.display='block'
		}
	}
	xmlHttp.open("GET","txs2s.xml?id="+txid, true);
	xmlHttp.send(null);
}

function closepopup() {
	light.style.display='none'
	fade.style.display='none'
	window.scrollTo(0,prvpos)
}

function show_txs2s(extrapar) {
	var aj = ajax()
	aj.onreadystatechange=function() {
		if(xmlHttp.readyState==4) {
			while (txs2s.rows.length>1)  txs2s.deleteRow(1)
			txs = aj.responseXML.getElementsByTagName('tx')
			if (extrapar.indexOf('ownonly=1')==-1) {
				but2s.value = ' ' + txs.length + ' '
			}
			for (var i=0; i<txs.length; i++) {
				var c,row
				var own = parseInt(xval(txs[i], 'own'))
				var txid = xval(txs[i], 'id')

				if (own!=0) {
					row = txs2s.insertRow(1)
					row.className='hov own'
					row.title = 'Your own transaction'
				} else {
					row = txs2s.insertRow(-1)
					row.className='hov'
				}

				c=row.insertCell(-1);c.align='right'
				c.innerHTML = (i+1).toString()

				c = row.insertCell(-1)
				c.className ='mono'
				c.innerHTML = txid
				c.id = txid
				c.addEventListener('click', decode_tx, false)
				c.style.cursor='pointer'

				c=row.insertCell(-1);c.align='right'
				c.innerHTML = get_maturity(xval(txs[i], 'time'))

				c=row.insertCell(-1);c.align='right'
				c.innerHTML = xval(txs[i], 'len')

				c=row.insertCell(-1);c.align='right'
				var sc = xval(txs[i], 'sentcnt')
				c.innerHTML = sc + "/" + xval(txs[i], 'invsentcnt')
				if (sc>0) {
					var tim = new Date(xval(txs[i], 'sentlast')*1000)
					c.title = "Last sent at "+tim.getHours()+":"+leftpad(tim.getMinutes(),'0',2)+":"+leftpad(tim.getSeconds(),'0',2)
				}

				c=row.insertCell(-1);c.align='right'
				c.innerHTML = (parseFloat(xval(txs[i], 'volume'))/1e8).toFixed(8)

				if (own!=2) {
					var fee = parseFloat(xval(txs[i], 'fee'))

					c=row.insertCell(-1);c.align='right'
					c.innerHTML = (fee/1e8).toFixed(8)

					c=row.insertCell(-1);c.align='right'
					c.innerHTML = (parseFloat(fee)/parseFloat(xval(txs[i], 'len'))).toFixed(1)
				} else {
					c=row.insertCell(-1);c.align='right'
					c.innerHTML = '<i>unknown</i>'

					c=row.insertCell(-1);c.align='right'
					c.innerHTML = '<i>unknown</i>'
				}

				c=row.insertCell(-1);c.align='right'
				if (own!=0) {
                    c.innerHTML = '<img style="cursor:pointer" title="Send this TX to one random peer" onclick="send1tx_click(\''+txid+'\')" src="webui/send_once.png">'
					c.innerHTML += '&nbsp;'
                    c.innerHTML += '<img style="cursor:pointer" title="Broadcast this TX" onclick="sendtx_click(\''+txid+'\')" src="webui/send.png">'
					c.innerHTML += '&nbsp;'
					c.innerHTML += '<img style="cursor:pointer" title="Remove this TX" onclick="deltx_click(\''+txid+'\')" src="webui/del.png">'
				} else {
					var blkd = parseInt(xval(txs[i], 'blocked'))
					if (blkd!=0) {
						c.innerHTML = val2reason(blkd)
					} else {
						c.innerHTML = '&nbsp;'
					}
				}

			}
			txs2s.style.display = 'table'
		}
	}
	txs2s.style.display = txsre.style.display = txw4i.style.display = 'none'
	xmlHttp.open("GET","txs2s.xml"+extrapar, true);
	xmlHttp.send(null);
}


function show_txsre() {
	var aj = ajax()
	aj.onreadystatechange=function() {
		if(xmlHttp.readyState==4) {
			while (txsre.rows.length>1)  txsre.deleteRow(1)
			txs = aj.responseXML.getElementsByTagName('tx')
			butre.value = ' ' + txs.length + ' '
			for (var i=0; i<txs.length; i++) {
				var t,c,row = txsre.insertRow(-1)

				row.className='hov'

				c=row.insertCell(-1);c.align='right'
				c.innerHTML = (i+1).toString()

				c = row.insertCell(-1)
				c.className ='mono'
				t = xval(txs[i], 'id')
				c.innerHTML = '<a href="https://blockchain.info/tx/'+t+'">'+t+'</a>'

				c=row.insertCell(-1);c.align='right'
				c.innerHTML = get_maturity(xval(txs[i], 'time'))

				c=row.insertCell(-1);c.align='right'
				c.innerHTML = xval(txs[i], 'len')

				c=row.insertCell(-1);c.align='right'
				c.innerHTML = val2reason(xval(txs[i], 'reason'))
			}
			txsre.style.display = 'table'
		}
	}
	txs2s.style.display = txsre.style.display = txw4i.style.display = 'none'
	xmlHttp.open("GET","txsre.xml", true);
	xmlHttp.send(null);
}

function show_txw4i() {
	var aj = ajax()
	aj.onreadystatechange=function() {
		if(xmlHttp.readyState==4) {
			while (txw4i.rows.length>1)  txw4i.deleteRow(1)
			wait4s = aj.responseXML.getElementsByTagName('wait4')
			var idx=0
			butw4i.value = ' ' + wait4s.length + ' '
			for (var i=0; i<wait4s.length; i++) {
				pendtxs = wait4s[i].getElementsByTagName('tx')
				idx++
				for (var j=0; j<pendtxs.length; j++) {
					var t,c,row = txw4i.insertRow(-1)

					row.className='hov'

					c=row.insertCell(-1);c.align='right'
					if (j==0) {
						c.innerHTML = idx.toString()
					}

					c = row.insertCell(-1)
					c.className ='mono'
					if (j==0) {
						t = xval(wait4s[i], 'id')
						c.innerHTML = '<a href="https://blockchain.info/tx/'+t+'">'+t+'</a>'
					}

					c = row.insertCell(-1)
					c.className ='mono'
					t = xval(pendtxs[j], 'id')
					c.innerHTML = '<a href="https://blockchain.info/tx/'+t+'">'+t+'</a>'

					c=row.insertCell(-1);c.align='right'
					c.innerHTML = get_maturity(xval(pendtxs[j], 'time'))
				}
			}
			txw4i.style.display = 'table'
		}
	}
	txs2s.style.display = txsre.style.display = txw4i.style.display = 'none'
	xmlHttp.open("GET","txw4i.xml", true);
	xmlHttp.send(null);
}

var t2s_cnt = {T2S_CNT}
var spent_outs_cnt = {SPENT_OUTS_CNT}

but2s.value = t2s_cnt
outspent.innerText = spent_outs_cnt
if (t2s_cnt>0) {
	avgoutspertx.innerText = (spent_outs_cnt/t2s_cnt).toFixed(2)
} else {
	avgoutspertx.innerText = '?'
}

</script>
