<script>
function switchwallet(fn) {
	document.location='?sid='+sid+'&wal='+encodeURIComponent(fn)
}
function shwwal() {
	showwal.style.display='none'
	formwal.style.display='block'
}
function setunused(idx) {
	var tr = document.getElementById('walrow'+idx)
	var adr = tr.cells[0].innerText
	var lab = tr.cells[2].innerText
	var wal = tr.cells[1].innerText
	if (confirm("Move " + adr + " (" + lab + ") from wallet " + wal + "to UNUSED?")) {
		document.location='?sid='+sid+'&setunused='+idx
	}
}
</script>
<h2>Your wallet</h2>
Balance: <b>{TOTAL_BTC}</b> BTC in <b>{UNSPENT_OUTS}</b> outputs (<a href="balance.zip">balance.zip</a>)<br>
<br>
Wallet filename: <b class="mono"><!--WALLET_FILENAME--></b><br>
<br>
Switch wallet: <!--ONEWALLET-->
<br>

<hr>
<div id="showwal">
<h2>Current wallet
<input style="float:right" type="button" value="Edit" onclick="shwwal()"></h2>
<table class="wal bord">
<tr>
<th>Address
<th align="left">Wallet
<th align="left">Label
<th align="left">Multi
<th colspan="2">Balance&nbsp;BTC
<!--ONE_WALLET_ADDR-->
</table>
</div>


<div id="formwal" style="display:none">
<h2>Edit wallet</h2>
<table width="90%">
<form method="post" action="cfg">
<tr><td colspan="2">
	<textarea name="walletdata" style="width:100%" rows="25">{WALLET_DATA}</textarea><br>
<tr>
	<td align="left">
		File Name: <input type="edit" name="walletfname" value="{WALLET_NAME}" class="mono">
	<td align="right">
		<input type="submit" name="save" value="Save wallet & Recalc balance">
</form>
</table>
</div>