<style>
td.balbtc {
	text-align: right;
	font-family: monospace;
	font-size: 110%;
}
td.outcnt {
	text-align: right;
	width: 30px;
}
</style>
<script>
var edit_in_progress = false
function switchwallet_button_click_browser() {
	switch_to_webwallet(this.value)
}

function fetch_wallet_balance(name) {
	var cont = localStorage.getItem("gocoinWal_"+name).split('\n')
	var wallet = new Array()
	var wallet_label = new Array()
	var wallet_virgin = new Array()
	for (var i=0; i<cont.length; i++) {
		var line = cont[i].trim()
		var sp_idx = line.indexOf(' ')
		var addr, label
		if (sp_idx==-1) {
			addr = line
			label = ''
		} else {
			addr = line.substr(0, sp_idx)
			label = line.substr(sp_idx+1)
		}
		if (valid_btc_addr(addr)) {
			//console.log(ss[0], ss)
			wallet.push(addr)
			wallet_label.push(label)
			wallet_virgin.push(cont[i][0]==' ')
		}
	}

	while (walltab.rows.length>1) {
		walltab.deleteRow(1)
	}

	var aj = ajax()
	aj.onerror=function() {
		console.log("onerror")
	}

	aj.onload=function() {
		try {
			var totbtc = 0
			var totouts = 0
			bal = JSON.parse(aj.responseText)
			var idxx = 0
			for (var i in wallet) {
				var rec = bal[wallet[i]]

				if (rec.Outs==null && wallet_virgin[i]) {
					continue
				}

				var td, row = walltab.insertRow(-1)
				row.className = "how"
				row.id = 'walrow'+idxx

				td = row.insertCell(-1)
				td.className = (wallet[i].length>80) ? "addr_long" : "addr_norm"
				td.innerText = wallet[i]

				td = row.insertCell(-1)
				td.className = "hand"
				td.innerText = wallet_label[i]
				td["row_idx"] = idxx
				td.addEventListener('click', edit_label)

				td = row.insertCell(-1)
				td.className = "balbtc"
				if (rec.Outs!=null) {
					td.innerText = val2str_pad(rec.Value,true)
				}

				td = row.insertCell(-1)
				td.className = "outcnt"
				if (rec.Outs!=null) {
					td.innerText = rec.Outs.length
					totouts += rec.Outs.length
				} else {
					td.innerHTML = '<a href="javascript:setunused('+idxx+')"><img src="webui/del.png"></a>'
				}

				totbtc += rec.Value
				idxx++
			}
			total_btc.innerText = val2str(totbtc)
			unspent_outs.innerText = totouts
		} catch (e) {
			console.log(e)
		}
	}

	aj.open("POST", "balance.json", true)
	aj.send(JSON.stringify(wallet))
}

function switch_to_webwallet(name) {
	localStorage.setItem("gocoinWalletSelected", name)
	for (var i in qswal.options) {
		if (qswal.options[i].text==name) {
			qswal.selectedIndex = i
			break
		}
	}
	fetch_wallet_balance(name)
}

function edit_wallet() {
	var name = qswal.options[qswal.selectedIndex].text
	walletfname.value = name
	walletdata.value = localStorage.getItem("gocoinWal_"+name)
	showwal.style.display='none'
	formwal.style.display='block'
	edit_in_progress = true
}
function setunused(idx) {
	var tr = document.getElementById('walrow'+idx)
	var adr = tr.cells[0].innerText

	var name = qswal.options[qswal.selectedIndex].text
	if (confirm("Remove " + adr + " from the current browser wallet?")) {
		lines = localStorage.getItem("gocoinWal_"+name).split('\n')
		var s = ''
		for (var i=0; i<lines.length; i++) {
			if (lines[i].indexOf(adr)==-1) {
				s += lines[i]+'\n'
			}
		}
		localStorage.setItem("gocoinWal_"+name, s)
		switch_to_webwallet(name)
	}
}
function edit_label() {
	console.log(this)
	var idx = this.row_idx
	var tr = document.getElementById('walrow'+idx)
	var adr = tr.cells[0].innerText
	var lab = tr.cells[1].innerText

	var newlab = prompt("Edit label in the current browser wallet for:\n" + adr, lab)
	if (newlab) {
		var name = qswal.options[qswal.selectedIndex].text
		lines = localStorage.getItem("gocoinWal_"+name).split('\n')
		var s = ''
		for (var i=0; i<lines.length; i++) {
			var found = lines[i].indexOf(adr)
			if (found==-1) {
				s += lines[i] + '\n'
			} else {
				s += lines[i].substr(found, adr.length) + ' ' + newlab + '\n'
			}
		}
		localStorage.setItem("gocoinWal_"+name, s)
		switch_to_webwallet(name)
	}
}
function close_editor() {
	showwal.style.display='block'
	formwal.style.display='none'
	edit_in_progress = false
}
function save_web_wallet() {
	var name = walletfname.value
	var curr_wallets = localStorage.getItem("gocoinWallets")
	var names = curr_wallets.split('|')
	var i;
	console.log("saving", name)
	for (i=0; i<names.length; i++) {
		if (names[i]==name) {
			console.log("foud at", i)
			break
		}
	}
	if (i==names.length) {
		console.log("not found")
		localStorage.setItem("gocoinWallets", curr_wallets+"|"+name)
	}

	localStorage.setItem("gocoinWal_"+name, walletdata.value)
	console.log("saved web wallet as "+name)
	close_editor()

	switch_to_webwallet(name)
}

function delete_wallet() {
	var name = qswal.options[qswal.selectedIndex].text
	if (confirm("Delete wallet "+name+" from the browser?")) {
		localStorage.removeItem("gocoinWal_"+name)
		switch_to_server_wallet("DEFAULT")
	}
}

function create_switch_buttons() {
	var i

	cur_wallet_type.innerText = "Browser"
	var wal_name = qswal.options[qswal.selectedIndex].text
	cur_wallet_name.innerText = wal_name
	if (wal_name=="DEFAULT") {
		delwal_button.disabled = true
	}

	for (i=0; i<qswal.options.length; i++) {
		var na = qswal.options[i].value
		var but = document.createElement("input")
		but.type = "button"
		but.value = na
		but.style.margin = 5
		but.onclick = switchwallet_button_click_browser
		browser_wallets.appendChild(but)
	}
}
document.addEventListener('DOMContentLoaded', function() {
	create_switch_buttons()
})


function allow_name_change_clicked() {
	walletfname.disabled = !allow_name_change.checked
	if (allow_name_change.checked) {
		walletfname.select()
		walletfname.focus()
	}
}

</script>
<h2><span id="cur_wallet_type"></span> wallet: <span id="cur_wallet_name"></span>
<input style="float:right" type="button" id="delwal_button" value="Delete This Wallet" onclick="delete_wallet()">
</h2>
Balance: <b id="total_btc"></b> BTC in <b id="unspent_outs"></b> outputs (<a href="balance.zip">balance.zip</a>)<br>
<br>
<div id="browser_wallets">Available wallets: </div>
<br>

<hr>
<div id="showwal">
<h2>Current wallet
<input style="float:right" type="button" value="Edit This Wallet" onclick="edit_wallet()"></h2>
<table class="wal bord" id="walltab">
<tr>
<th>Address
<th align="left">Label
<th colspan="2">Balance&nbsp;BTC
</table>
</div>


<div id="formwal" style="display:none">
<h2>Edit wallet
<input style="float:right" type="button" value="Cancel" onclick="close_editor()">
</h2>
<table width="100%">
<form method="post" id="wallet_edit_form" action="cfg" onsubmit="return false;">
<tr>
	<td align="left">
		<input type="checkbox" id="allow_name_change" onchange="allow_name_change_clicked()">
		Choose new name: <input type="text" disabled="true" id="walletfname" name="walletfname" value="" class="mono">
	<td align="right">
		<input type="button" value="Save Wallet" onclick="save_web_wallet()">
<tr><td colspan="2">
	<textarea name="walletdata" id="walletdata" style="width:100%" rows="25">{WALLET_DATA}</textarea><br>
	<i>
	Empty lines are ignored.<br>
	Put <b>#</b> character in front of a line, to comment it out.<br>
	Put <b>@</b> character followed by filename in front of a line, to include content of another server wallet.<br>
	</i>
</form>
</table>
</div>
<script>
// reaload page on new block
var _lblo = 0
blno.addEventListener("lastblock", function(e) {
	if (_lblo==0) {
		_lblo = e.block.Height
	} else if (!edit_in_progress && e.block.Height!=_lblo) {
		location.reload()
	}
})
qswal.addEventListener("loadwallet", function(e) {
	fetch_wallet_balance(e.name)
})
document.addEventListener('DOMContentLoaded', function() {
	quick_switch_wallet() // this is to force loading wallet after loading
})
</script>
