body {
	font-family:Arial;
	font-size:14px;
	background-color:black;
	color: #c0c0c0;
}
a {
	color:#d0d0ff;
	text-decoration:none;
}

a:visited {
	color:#d0d0ff;
	text-decoration:none;
}

a:hover {
	color:#ffe0e0;
}

a.topmenu {
	color:#d0d0ff;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:6px;
	padding-right:6px;
	border: 1px solid black;
	border-collapse: collapse;
	font-size:16px;
}

a.topmenu:hover {
	border-radius: 8px;
	border: 1px solid #aaaaaa;
}

a.menuat {
	border-radius: 8px;
	border: 1px solid black;
}

a.dimenu {
	color:#7070a0;
}

.mono {
	font-family: monospace;
	font-size:12px;
}

.bold {
	font-weight: bold;
}

.r {
	text-align: right;
}

.i {
	font-style:italic;
}

table {
	font-size:14px;
}

h2 {
	margin-bottom:5px;
}

h3 {
	margin-bottom:3px;
}

table.bord {
	border: 1px #ffffff solid;
	border-spacing:0;
	border-collapse:collapse;
}

table.wal {
	font-size:80%;
	width:100%;
}

#unspent {
	border: 1px #ffffff solid;
	border-spacing:0;
	border-collapse:collapse;
	font-size:75%
}

tr {
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}


#rawdiv {
	border: 1px solid #888888;
	font-family: monospace;
	background-color:#000000;
	width: 100%;
	overflow-x: auto;
	font-size:85%
}

td,th {
	padding: 5px;
}

th {
	background-color:#222222;
	color:#a0aa50;
}

tr.bip152 {
	background-color:#001111;
}

tr.immune {
	background-color:#0c1610;
}

tr.special {
	background-color:#221811;
}

tr.secure {
	background-color:#220808;
}

tr.own {
	background-color:#220808;
}

tr.hov:hover {
	background-color:#444444;
}

.hand {
	cursor:pointer;
}

.small {
	font-size:75%
}

.cod {
	font-family: monospace;
	font-size:12px;
	background-color:#333333;
	color:#80f080;
}

.note {
	font-style:italic;
	background-color:#333344;
}

.but {
	color:#442200;
	background-color:#aaaaaa;
	padding:2px;
	font-weight:bold;
}

textarea {
	background-color:#333333;
	color:#e0e0e0;
}

select {
	background-color:#444444;
	color:#d0f0d0;
}

select:hover {
	background-color:#555555;
	color:#c0e0c0;
}

input[type=button], input[type=submit] {
	background-color:#444444;
	color:#d0f0d0;
	font-weight:bold;
	border: 2px #777777 solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size:12px;
}

input[type=button]:hover, input[type=submit]:hover {
	background-color:#555555;
	color:#c0e0c0;
}

input[type=button]:disabled, input[type=submit]:disabled {
	background-color:#444444;
	color:#709070;
}

input[type=text] {
	background-color:#111111;
	color:#ffffcc;
}

input[type=text].err { /*red background for a wrong value*/
	background-color:#440000
}

input[type=text]:read-only {
	background-color:#444444;
	color:#808060;
}

input[type=text]:read-only.negative {
	color: #ff8888;
}
input[type=text]:read-only.positive {
	color: #88ff88;
}

td.err { /*highlights "include fee" chackbox on MakeTx page*/
	background-color:#661111;
}

table.blocks {
	font-size:12px;
	width:100%;
}

td.block_hash {
	font-size:12px;
}

td.nodeid {
	font-size:11px;
	color:#55a080;
	font-weight:bold;
}

td.blstatmissedtxs {
	color:purple;
	font-size:10px;
}

td.blstatwaste {
	font-size:8px;
}

td.blstat {
	font-size:10px;
	font-style:italic;
}

td.blsigops {
	color:#c06666;
	font-size:9px;
}

td.blswsize {
	color:#2060bb;
}

td.blreward {
	color:#008000;
	font-family: monospace;
	text-align: right;
	font-size:12px;
}

td.blspb {
	font-size:12px;
	color:#8833c0;
	font-family: monospace;
	text-align: right;
}

div.footer {
	margin-top:10px;
	font-style:italic;
	text-align:right;
	font-size:11px;
}


#conninfo {
	font-size:14px;
}

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding-left: 8px;
	padding-right: 8px;
	border: 5px solid #d0d0d0;
	background-color: black;
	z-index:1002;
	overflow: auto;
	overflow-x:hidden;
}

.qr_addr_label {
	font-size:24px;
	font-weight:bold;
}

.qr_addr_addr {
	font-family: monospace;
	font-size:17px;
	font-weight:bold;
	text-align:center;
	width:400px;
	border: 0px solid;
	outline: none;
}

.nw {
	white-space: nowrap;
}

.unspent_minus {
	color:red;
}
.unspent_plus {
	color:green;
}
.size120 {
	font-size:130%;
}

input[type='checkbox'] {
	cursor:pointer;
}

input[type='radio'] {
	cursor:pointer;
}

td.uploadtx {
	background-color: #222222;
	border:1px solid #666666;
}

.walminwarn {
	color:#aa66aa;
}

#chart > div.legend > table {
	background-color:#080808;
}

td.qrcode {
	background-color: white;
}


td.addr_long {
	font-size:9px;
	font-weight:bold;
	white-space: nowrap;
}
td.addr_pubkey {
	font-size:8px;
	font-weight:bold;
	white-space:nowrap;
	font-family: monospace;
}
td.addr_norm {
	font-weight:bold;
	white-space: nowrap;
}
td.addr_label {
	white-space: nowrap;
	overflow-x: hidden;
}
td.balbtc {
	text-align: right;
	font-family: monospace;
	font-size: 110%;
	width: 150px;
}
.p2sh {
	color:#c54A4A;
}
.native {
	color:#66dd66;
}
.p2tap {
	color:blue;
}
.segwitaddr {
	font-style:italic;
	font-size: 90%;
}
.pubkey {
	color:#8888ff;
}
td.segwitaddr {
	text-align: left;
	white-space: nowrap;
}
td.outcnt {
	text-align: right;
	white-space: nowrap;
}

td.bl_ver {
	font-family: monospace;
	text-align:right;
}
td.bl_cnt {
	text-align:right;
}
td.bl_perc {
	text-align:right;
}
td.mi_unkn {
	font-style:italic;
	font-size:80%;
}
td.mi_netshare {
	font-family: monospace;
	text-align:right;
	font-weight:bold;
}
td.mi_hashrate {
	font-family: monospace;
	text-align:right;
	font-style:italic;
	font-size:90%;
	white-space:nowrap;
}
td.mi_bsize {
	font-family: monospace;
	text-align:right;
	font-size:90%;
	font-weight:bold;
}
td.mi_tot {
	text-align:right;
	color:#9040c8;
	font-style:italic;
	font-weight:bold;
}
td.mi_vers {
	text-align:right;
	color:rgb(177, 77, 77);
	font-style:italic;
	font-weight:bold;
}
tr.ver_others {
	font-weight:bold;
	font-style:italic;
}
caption {
	margin-bottom:6px;
}
#verinfo {
	left:0px;
	top:0px;
	z-index:1000;
	width:800px;
	background-color:#e0e0e0;
	overflow-x:auto;
}

td.minblspb {
	font-size:14px;
	color:#3131bf;
	font-family: monospace;
	text-align: right;
}

img#dark_light_icon {
	content:url("light.png");
}

img#auto_theme_switch_img {
	content:url("theme-switch-white.png");
}

img.export_icon {
	content:url("export-white.png");
}

img.import_icon {
	content:url("import-white.png");
}
