body {
	font-family:Arial;
	font-size:14px;
	background-color:black;
	color: #ffffff;
}
a {
	color:#e0e0ff;
	text-decoration:none;
}

a:visited {
	color:#e0e0ff;
	text-decoration:none;
}

a:hover {
	/*color:#ffe0e0;*/
	background-color:#303000;
}

a.topmenu {
	color:#e0e0ff;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:6px;
	padding-right:6px;
	border: 1px solid black;
	border-collapse: collapse;
	font-size:16px;
}

a.topmenu:hover {
	border-radius: 8px;
	border: 1px solid #aaaaaa;
}

a.menuat {
	border-radius: 8px;
	border: 1px solid white;
}

a.dimenu {
	color:#7070a0;
}

.mono {
	font-family: monospace;
	font-size:12px;
}

.bold {
	font-weight: bold;
}

.r {
	text-align: right;
}

.i {
	font-style:italic;
}

table {
	font-size:14px;
}

h2 {
	margin-bottom:5px;
}

h3 {
	margin-bottom:3px;
}

table.bord {
	border: 1px #ffffff solid;
	border-spacing:0;
	border-collapse:collapse;
}

table.wal {
	font-size:80%;
	width:100%;
}

#unspent {
	border: 1px #ffffff solid;
	border-spacing:0;
	border-collapse:collapse;
	font-size:75%
}

tr {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}


pre#rawdiv {
	font-family: monospace;
	background-color:#222222;
	width: 100%;
	overflow-x: auto;
	font-size:85%
}

div.rawdatalabel {
	width:100%;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
}

textarea#txhexdump {
	background-color:#222222;
	color:#aaaaaa;
	font-size:75%;
	overflow-x: auto;
}

td,th {
	padding: 5px;
}

th {
	background-color:#111144;
	color:#ffff90;
}

tr.bip152 {
	background-color:#001111;
}

tr.immune {
	background-color:#0c1610;
}

tr.special {
	background-color:#221811;
}

tr.secure {
	background-color:#220808;
}

tr.own {
	background-color:#220808;
}

tr.hov:hover {
	background-color:#444444;
}

.hand {
	cursor:pointer;
}

.small {
	font-size:75%
}

.cod { /*help page*/
	font-family: monospace;
	background-color:#333333;
	color:#00ffc0;
}

.note { /*help page*/
	font-style:italic;
	background-color:#333344;
}

.but { /*help page*/
	color:#efffef;
	background-color:#222222;
	padding:2px;
	font-weight:bold;
}

textarea {
	background-color:#222222;
	color:#ffffff;
}

select {
	background-color:#444444;
	color:#e0ffe0;
}

input[type=button], input[type=submit] {
	background-color:#444444;
	color:#e0ffe0;
	font-weight:bold;
	border: 2px #ffffff solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size:12px;
}

input[type=button]:hover, input[type=submit]:hover {
	background-color:#555555;
}

input[type=button]:disabled, input[type=submit]:disabled {
	background-color:#444444;
	color:#608060;
}

input[type=text] {
	background-color:#111111;
	color:#ffffee;
}

input[type=text].err { /*red background for a wrong value*/
	background-color:#440000
}

input[type=text]:read-only {
	background-color:#444444;
	color:#d0d0a0;
}

input[type=text]:read-only.negative {
	color: #ffaaaa;
}
input[type=text]:read-only.positive {
	color: #aaffaa;
}

td.err { /*highlights "include fee" chackbox on MakeTx page*/
	background-color:#661111;
}

table.blocks {
	font-size:12px;
	width:100%;
}

td.block_hash {
	font-size:12px;
}

td.nodeid { /*network table*/
	font-size:11px;
	color:#75f0a0;
	font-weight:bold;
}

/*blocks page:*/
td.blstatmissedtxs {
	color:#ff00ff;
	font-size:10px;
}

td.blstatwaste {
	font-size:8px;
}

td.blstat {
	font-size:10px;
	font-style:italic;
}

td.blsigops {
	color:#ff9999;
	font-size:9px;
}

td.blswsize {
	color:#60a0ff;
}

td.blreward {
	color:#00ff00;
	font-family: monospace;
	text-align: right;
	font-size:12px;
}

td.blspb {
	font-size:12px;
	color:#aa55ff;
	font-family: monospace;
	text-align: right;
}

div.footer {
	margin-top:10px;
	font-style:italic;
	text-align:right;
	font-size:11px;
}


#conninfo {
	font-size:14px;
}

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

div.white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding: 8px;
	border: 5px solid #222222;
	background-color: black;
	z-index:1002;
	overflow: auto;
	overflow-x:hidden;
}

.qr_addr_label {
	font-size:24px;
	font-weight:bold;
}

.qr_addr_addr {
	font-family: monospace;
	font-size:17px;
	font-weight:bold;
	text-align:center;
	width:400px;
	border: 0px solid;
	outline: none;
}

.nw {
	white-space: nowrap;
}

.unspent_minus {
	color:red;
}
.unspent_plus {
	color:green;
}
.size120 {
	font-size:130%;
}

input[type='checkbox'] {
	cursor:pointer;
}

input[type='radio'] {
	cursor:pointer;
}

td.uploadtx {
	background-color: #222222;
	border:1px solid #666666;
}

.walminwarn {
	color:#ee99ee;
}

#chart > div.legend > table {
	background-color:#080808;
}

td.qrcode {
	background-color: white;
}


td.addr_long {
	font-size:9px;
	font-weight:bold;
	white-space: nowrap;
}
td.addr_pubkey {
	font-size:8px;
	font-weight:bold;
	white-space:nowrap;
	font-family: monospace;
}
td.addr_norm {
	font-weight:bold;
	white-space: nowrap;
}
td.addr_label {
	white-space: nowrap;
	overflow-x: hidden;
}
td.balbtc {
	text-align: right;
	font-family: monospace;
	font-size: 110%;
	width: 150px;
}
.p2sh, .p2sh-p2wpkh {
	color:#ff7A7A;
}
.native, .p2wpkh {
	color:#77ff77;
}
.p2tap {
	color:#6666ff;
}
.segwitaddr {
	font-style:italic;
	font-size: 90%;
}
.p2wsh {
	color:#ff66e0;
}
.pubkey {
	color:#b6aac3;
}

td.inpid {
	text-align: left;
	font-size: 90%;
	font-family: monospace;
}
td.long_addr {
	font-size:9px;
}
td.segwitaddr {
	text-align: left;
	white-space: nowrap;
}
td.outcnt {
	text-align: right;
	white-space: nowrap;
}

td.bl_ver {
	font-family: monospace;
	text-align:right;
}
td.bl_cnt {
	text-align:right;
}
td.bl_perc {
	text-align:right;
}
td.mi_unkn {
	font-style:italic;
	font-size:80%;
}
td.mi_netshare {
	font-family: monospace;
	text-align:right;
	font-weight:bold;
}
td.mi_hashrate {
	font-family: monospace;
	text-align:right;
	font-style:italic;
	font-size:90%;
	white-space:nowrap;
}
td.mi_bsize {
	font-family: monospace;
	text-align:right;
	font-size:90%;
	font-weight:bold;
}
td.mi_tot {
	text-align:right;
	color:#d060ff;
	font-style:italic;
	font-weight:bold;
}
td.mi_vers {
	text-align:right;
	color:#ff3030;
	font-style:italic;
	font-weight:bold;
}
tr.ver_others {
	font-weight:bold;
	font-style:italic;
}
caption {
	margin-bottom:6px;
}
#verinfo {
	left:0px;
	top:0px;
	z-index:1000;
	width:800px;
	background-color:#111111;
	color: #ffffff;
	overflow-x:auto;
}

td.minblspb {
	font-size:14px;
	color:#3131bf;
	font-family: monospace;
	text-align: right;
}

pre#loadedtxdata {
	background-color:#220808;
	color:#ffffff;
	font-size:10px;
	width:1000px;
	overflow-x:auto
}

img#dark_light_icon {
	content:url("light.png");
	height:20px;
}

img#auto_theme_switch_img {
	content:url("theme-switch-white.png");
}

img.export_icon {
	content:url("export-white.png");
}

img.import_icon {
	content:url("import-white.png");
}

img.music_icon {
	content:url("music-white.png");
	height:16px;
}

img.incoming {
	content:url("in-white.png");
	height:16px;
}

img.outgoing {
	content:url("out-white.png");
	height:16px;
}

img.info {
	content:url("info-white.png");
	height:16px;
	cursor:pointer;
}

img.del {
	content:url("del-white.png");
	height:16px;
	cursor:pointer;
}

img.request {
	content:url("request-white.png");
	height:16px;
	cursor:pointer;
}

img#tcp_server_running {
	content:url("server-white.png");
	height:16px;
}

img.refresh {
	content:url("refresh-white.png");
	height:16px;
	cursor:pointer;
}

img.qrcode {
	content:url("qrcode-white.png");
	height:16px;
}

img.warning {
	content:url("warning-white.png");
	height:20px;
}

img.sort_icon {
	content:url("sort-white.png");
	height:16px;
}

img.nosort_icon {
	content:url("nosort-white.png");
	height:16px;
}
