a {
	color:blue;
	text-decoration:none;
}

a:visited {
	color:blue;
	text-decoration:none;
}

a:hover {
	background-color:yellow;
}

a.menuat {
	text-decoration:underline;
}

.mono {
	font-family: monospace;
}

.bold {
	font-weight: bold;
}

.r {
	text-align: right;
}

.i {
	font-style:italic;
}

table.bord {
	border: 1px #000000 solid;
	border-spacing:0;
	border-collapse:collapse;
}

table.txs {
	font-size:75%
}

table.wal {
	font-size:80%;
	width:100%;
}

#unspent {
	border: 1px #000000 solid;
	border-spacing:0;
	border-collapse:collapse;
	font-size:75%
}

tr {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#rawdiv {
	font-family: monospace;
	background-color:#e0e0e0;
	width: 100%;
	overflow-x: auto;
	font-size:85%
}

td,th {
	padding: 5px;
}

th {
	background-color:rgb(0,0,80);
	color:yellow;
}

tr.own {
	background-color:#ffe0e0;
}

tr.hov:hover {
	background-color:#e0e0e0;
}

.hand {
	cursor:pointer;
}

.small {
	font-size:75%
}

.err {
	background-color:#ff8080
}

.dis {
	background-color:#dddddd;
}

.cod {
	font-family: monospace;
	background-color:#eeeeee;
	color:#006000;
}

.note {
	font-style:italic;
	background-color:#eeeeff;
}

.but {
	color:#442200;
	background-color:#ddeeff;
	padding:4px;
	//font-weight:bold;
}

input[type=button], input[type=submit] {
	background-color:#dddddd;
	font-weight:bold;
	/*border: 2px #000000 solid;*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

input[type=button]:hover, input[type=submit]:hover {
	background-color:#ffeeee;
	cursor:pointer;
}

table.blocks {
}

table.netcons {
}

.addr_long {
	font-size:10px;
	font-weight:bold;
}

.addr_norm {
	font-weight:bold;
}

div.footer {
	margin-top:20px;
	font-style:italic;
	text-align:left;
	font-size:11px;
}
