body {
	font-family:Arial;
	//font-size:10px;
}
a {
	color:blue;
	text-decoration:none;
}

a:visited {
	color:blue;
	text-decoration:none;
}

a:hover {
	background-color:yellow;
}

a.topmenu {
	color:#2020e0;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:6px;
	padding-right:6px;
	border: 1px solid white;
	border-collapse: collapse;
}

a.topmenu:hover {
	//background-color:pink;
	border-radius: 8px;
	border: 1px solid blue;
}

a.menuat {
	//text-decoration:underline;
	border-radius: 8px;
	border: 1px solid black;
}

a.dimenu {
	color:#a0a0ff;
}

.mono {
	font-family: monospace;
}

.bold {
	font-weight: bold;
}

.r {
	text-align: right;
}

.i {
	font-style:italic;
}

table.bord {
	border: 1px #000000 solid;
	border-spacing:0;
	border-collapse:collapse;
}

table.wal {
	font-size:80%;
	width:100%;
}

#unspent {
	border: 1px #000000 solid;
	border-spacing:0;
	border-collapse:collapse;
	font-size:75%
}

tr {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}


#rawdiv {
	font-family: monospace;
	background-color:#e0e0e0;
	width: 100%;
	overflow-x: auto;
	font-size:85%
}

td,th {
	padding: 5px;
}

th {
	background-color:rgb(0,0,80);
	color:yellow;
}

tr.bip152 {
	background-color:#fffff8;
}

tr.segwit {
	background-color:#f8fff0;
}

tr.immune {
	background-color:#f4fff4;
}

tr.special {
	background-color:#f8f4e4;
}

tr.secure {
	background-color:#ffe8f0;
}

tr.CFN {
	background-color:#f0ffff;
}

tr.own {
	background-color:#ffe0e0;
}

tr.hov:hover {
	background-color:#e0e0e0;
}

.hand {
	cursor:pointer;
}

.small {
	font-size:75%
}

.err {
	background-color:#ff8080
}

.dis {
	background-color:#dddddd;
}

.cod {
	font-family: monospace;
	background-color:#eeeeee;
	color:#006000;
}

.note {
	font-style:italic;
	background-color:#eeeeff;
}

.but {
	color:#442200;
	background-color:#ddeeff;
	padding:4px;
	//font-weight:bold;
}

input[type=button], input[type=submit] {
	background-color:#dddddd;
	font-weight:bold;
	/*border: 2px #000000 solid;*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

input[type=button]:hover, input[type=submit]:hover {
	background-color:#ffeeee;
	cursor:pointer;
}

table.blocks {
	font-size:13px;
	width:100%;
}

td.block_hash {
	font-size:12px;
}

td.nodeid {
	font-size:11px;
	color:#0000c0;
	font-weight:bold;
}

td.blstatmissedtxs {
	color:purple;
	font-size:10px;
}

td.blstatwaste {
	font-size:8px;
}

td.blstat {
	font-size:10px;
	font-style:italic;
}

td.blsigops {
	color:#c00000;
	font-size:9px;
}

td.blreward {
	color:#008000;
	font-family: monospace;
	text-align: right;
}

td.blspb {
	font-size:10px;
	color:#0000c0;
	font-family: monospace;
	text-align: right;
}

td.blminspb {
	font-size:10px;
	color:purple;
	font-family: monospace;
	text-align: right;
}

table.netcons {
}

div.footer {
	margin-top:10px;
	font-style:italic;
	text-align:right;
	font-size:11px;
}


#conninfo {
	font-size:14px;
}

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding-left: 8px;
	padding-right: 8px;
	border: 5px solid #d0d0d0;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.qr_addr_label {
	font-size:24px;
	font-weight:bold;
}

.qr_addr_addr {
	font-size:17px;
	font-weight:bold;
}

.nw {
	white-space: nowrap;
}

.unspent_minus {
	color:red;
}
.unspent_plus {
	color:green;
}
.size120 {
	font-size:130%;
}