a {
	color:blue;
	text-decoration:none;
}

a:visited {
	color:blue;
	text-decoration:none;
}

a:hover {
	background-color:yellow;
}

a.menuat {
	text-decoration:underline;
}

.mono {
	font-family: monospace;
}

#rawdiv {
	font-family: monospace;
	background-color:#e0e0e0;
	width: 980;
	font-size: 11px;
	overflow-x: auto;
}

td,th {
	padding: 5px;
}

th {
	background-color:rgb(0,0,80);
	color:yellow;
}

tr.hov:hover {
	background-color:#e0e0e0;
}

input[type=button], input[type=submit] {
	background-color:#dddddd;
	font-weight:bold;
	//border: 2px #000000 solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

input[type=button]:hover, input[type=submit]:hover {
	background-color:#ffeeee;
	cursor:pointer;
}
